{% extends "index.html" %}
{% block application %}
<body>
    <div class="content">
        <div class="header">
            <ul>
                <li><a href="">Главная</a></li>
                <li><a href="">Контакты</a></li>
            </ul>
            <a href="{% url 'home' %}">Анализ сайта</a>
        </div>
        <div class="main_content">
            <h1>Анализ сайта</h1>
            <p class="lead">URL не доступен</p>
            <br>

        </div>
        <div class="footer">
            ;tkhthtrfftj
        </div>

    </div>
{% endblock%}